.navbar {
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-link a {
  color: var(--spanish-grey-dark);
  text-decoration: none;
  padding: 0px 7px;
  font-size: 20px; 
}


.navbar-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  float: right;
  /* text-decoration: none; */
  /* color: var(--light-coral); */
  font-size: 30px;
}

.navbar-logo {
height: 70px;
display: flex;
float: left;
justify-content: center;
align-items: center;
color: white;
}

.logo {
 color: var(--light-coral);
 font-size: 70px;

}

.navbar-link a:hover {
  transform: scale 1.1;
}

#name {
  font-family: 'Pacifico', cursive;
  color: var(--light-coral);
  font-size: 70px;
}