.container1 {
  /* height: 600px; */
  width: 100vw;
  background-image:  url("../media/20180526_ADMIN_FLOW_PROOFS_742-Edit.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
/* linear-gradient(-225deg, var(--razzmic-berry-trans) 0%, var(--spanish-grey-trans) 50%), */