.hero-container {
  height: 700px;
  width: 100vw;
}


.hero {
  background-image:  linear-gradient(-225deg, var(--razzmic-berry-trans) 0%, var(--spanish-grey-trans) 50%), url("../media/anna-earl-Odhlx3-X0pI-unsplash.jpg");
  background-position: center center;
  /* background-size: stretch; */
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  }

  .hero h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 55px;
    text-shadow:4px 4px var(--spanish-grey-dark);
    text-align: center;
    padding-top: 150px;
  }